@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-bar-section-a {
    @apply bg-gradient-to-r from-blue-500 to-green-600
}

.nav-bar-section-b {
    @apply bg-gradient-to-r from-blue-400 to-blue-200
}

.nav-bar {
    @apply bg-blue-200 border-gray-200 px-4 py-2.5 rounded dark:bg-gray-900 top-0 w-full
}

.icon-section {
    @apply w-8 h-8 mt-1 mr-2
}

.icon-tecno {
    @apply h-16 hover:text-green-600 dark:hover:text-white
}

.body-tema {
    background: #56CCF2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.slider {
    display: flex;
    height: auto;
    margin: auto;
    overflow: hidden;
    align-items: center;
}

.slider:before {
    position: absolute;
    z-index: 1;
    left: 0;
    content: "";
    width: 23.958%;
    height: 110px;
    background: linear-gradient(-90deg, hsla(0, 0%, 96.9%, 0), #f7f7f7);
}

.slider:after {
    position: absolute;
    right: 0;
    content: "";
    width: 23.958%;
    height: 110px;
    background: linear-gradient(
        90deg,
         hsla(0, 0%, 96.9%, 0),
          hsla(0, 0%, 96.9%, 0.99) 99%
          );
}

.slider .slide-track {
    display: flex;
    animation: scroll 35s linear infinite;
    -webkit-animation: scroll 35s linear infinite;
    width: calc(240px * 10);
}

.slider .slide {
    display: flex;
}

.slider .slider img {
    width: 180px;
    height: 80px;
    padding: 10px;
    background-color: white;
    cursor: pointer;
    margin: 20px;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-240px * 5));
        transform: translateX(calc(-240px * 5));
    }
}


